.otp-container {
  height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.content-1 {
  width: 43%;
  height: auto;
}

.content-1-body {
  height: 90%;
}

.otp-1-top {
  padding: 2rem 2.5rem;
}

.otp-1-top p {
  font-size: 14px;
  color: #525866;
}

.otp-1-top a {
  box-shadow: 0px 1px 2px 0px rgba(82, 88, 102, 0.06);
  padding: 4px 6px;
  font-size: 14px;
}

.content-1-title {
  margin-top: 3rem;
}

.content-1-title h1 {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.content-1-title p {
  color: #525866;
  margin-bottom: 0;
}

.input-wrap {
  border-top: 1.5px solid #e2e4e9;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.resend-wrap p {
  font-size: 13.5px;
  color: #525866;
}

.resend-wrap a {
  font-size: 14px;
  color: black;
  font-weight: 500;
}

.register-button {
  color: #525866;
  border: 1.5px solid #e2e4e9;
}

.register-button:hover {
  background-color: #f6f8fa;
  color: black;
  border: 1.5px solid #f6f8fa;
  transition: all ease-in-out 0.3s;
}

.phone-input:focus {
  outline: none;
}

.phone-input:hover {
  background-color: #edeef4;
}

.login-button {
  background-color: #339eec;
  color: white;
  border-radius: 10px;
  font-size: 0.9rem;
}

.login-button:hover {
  background: #593bb0;
  background: linear-gradient(90deg, #593bb0 0%, #7646ff 80%);
  background: -webkit-linear-gradient(90deg, #593bb0 0%, #7646ff 80%);
  background: -moz-linear-gradient(90deg, #593bb0 0%, #7646ff 80%);
  transition: all ease-in-out 10s;
}

.otp-input {
  width: 80px;
  height: 55px;
  border-radius: 10px;
  border: 1.5px solid #e2e4e9;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.otp-input:active {
  outline: red;
}

.content-1-foot {
  height: 10%;
  position: relative;
}

.content-1-foot-wrap {
  padding: 0 2.5rem;
}

.content-1-foot-wrap p {
  font-size: 13px;
  color: #525866;
}

.content-1-foot-wrap p span {
  color: #525866;
}

/* Content 2 */
.content-2 {
  width: 57%;
  padding: 0.5rem;
}

.content-2 {
  width: 57%;
  padding: 0.5rem;
}

.content-2-wrap {
  background-color: #f6f8fa;
  padding: 3rem 4rem 1rem;
}

.content-2-title {
  font-size: 23.5px;
  font-weight: 500;
  margin-top: 2rem;
}

.content-2-testi h1 {
  font-size: 18px;
  margin:0 0 5px;
}
